body {
    font-family: "Catamaran", "Helvetica Neue", Arial, sans-serif;
}

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend, p.caption {
    font-family: "Catamaran", "Helvetica Neue", Arial, sans-serif;
}

.index-datajointio-button {
    width: 150px; 
    border: 1px solid #c9caca; 
    border-radius: 8px; 
    padding: 10px; 
    background-color: #edf1f1;
    cursor: pointer;
    margin-bottom: 24px;
    text-align: center;
}

.index-datajointio-button:hover {
    border: 1px solid #a5a5a5;
    background-color: #a6e9e9;
    box-shadow: 1px 1.5px 4px #a5a5a5;
}

/* Side background - dark grey*/
.wy-side-nav-search {
    background-color: #343131;
}
.wy-side-nav-search > a:hover {
    background-color: #343131;
}

/* White background for selected menu */
.wy-nav-content-wrap, .wy-menu li.current > a  {
    background-color: #fff;
}

/* White background for main section and pale DJ blue for wrapper  */
@media screen and (min-width: 1400px) {
    .wy-nav-content-wrap {
        background-color: #fcfeff;
    }

    .wy-nav-content {
        background-color: #fff; 
    }
}

/* decrease padding on sidebar logo for BETA logo */
img.logo {
    padding: 0px;
}
.wy-side-nav-search {
    padding: 0px;
}
.wy-side-nav-search a {
    padding: 0 0 1px 0;
}

#rtd-search-form {
    padding: 1px 8px 0px;
}


/* Mobile */
.wy-nav-top {
    background-image: url('../img/djTutorialLogoWhite.svg');
    background-color: #343131;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 2px;
    color: #333;
}

.wy-nav-top > a {
    display: none;
}

@media screen and (max-width: 768px) {
    .wy-side-nav-search>a img.logo {
        height: 60px;
    }
    .wy-nav-top > i { /* for the collapsed menu */
        color: #fff;
    }
}

/* link images to dj.io and docs.dj */
#footerThumbnail {
    width: 120px;
    display: inline-block;
    float: right;
}

#breadcrumbsThumbnail {
    width: 120px;
    display: inline-block;
    float: right;
}

/* To scale the side bar logo correctly */
.wy-side-nav-search a {
    display: block;
}

/* This ensures that multiple constructors will remain in separate lines. */
.rst-content dl:not(.docutils) dt {
    display: table;
}

/* Use dark orange for literals */
.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
    color: #d85124;
}

.rst-content tt.xref, a .rst-content tt, .rst-content tt.xref,
.rst-content code.xref, a .rst-content tt, a .rst-content code {
    color: #404040;
}

/* Code block background */
.codeblock,pre.literal-block,.rst-content .literal-block,.rst-content pre.literal-block,div[class^='highlight'] {
        background: rgba(0, 0, 0, 0.05);
}

/* Change link colors (except for the menu) */

a {
    color: #2bc4c4; /*DataJoint blue*/
}

a:hover {
    color: #2bc4c4;
}


a:visited {
    color: #24adad; /*DataJoint blue darker*/
}

a.icon.icon-home {
    color: #54a8b7; /* accurate dj logo blue color */
}

.wy-menu a {
    color: #b3b3b3;
}

.wy-menu a:hover {
    color: #b3b3b3;
}

.caption-text {
    color: #fbb85d; /* dj yellow */
}


/* Resize the default footer text size */
footer {
    font-size: 82%;
}

/* For the navigation buttons, make the font larger - appr. original size */
footer .rst-footer-buttons {
    font-size: 122%; 
}

footer p {
    font-size: 100%;
}

/* Work around for hidden headers that appear in TOC tree */
.rst-content .hidden-section {
    display: none;
}
nav .hidden-section {
    display: inherit;
}
